@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}
html{
    font-size: 10px;
}
body{
    margin: 0;
    min-width: 1300px;
    font-weight: 200;
}
a{
    text-decoration: none;
    color: #000;
    font: inherit;
}
.section2 h3, .section3 h3, .section4 h3, .section5 h3, .section6 h3, .section7 h3, .section8 h3, .section9 h3{
    font-weight: 300;
    margin: 0;
    font-size: 3.9rem;
}
p{
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;
    padding-top: 21px;
    padding-bottom: 30px;
}
.a11y-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
 }
 /* 버튼 arr */
 .btn-arr{
    display: inline-block;
    width: 7px;
    height: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 10px;
    background-image: url('/images/home_arr.png');
    background-size: 7px 10px;
    margin-left: 5px;
}
/* 버튼 공통 속성 */
.btn-common{
    font-size: 1.5rem;
    line-height: 51px;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 2px;
    text-align: center;
}

/* 헤더 영역 */
.header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 170px;
    /* position: relative; */
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #aaa;
    z-index: 10;
}
.kakao-logo{
    width: 116px;
    height: 20px;
    margin: auto 0;
    position: relative;
}
.main-menu{
    font-size: 1.5rem;
    list-style-type: none;
    padding: 0px 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 420px;
}
.main-menu-list{
    padding: 30px 20px;
}
.main-menu .main-menu-list:hover, .main-menu .main-menu-list:active{
    box-shadow: inset 0 -2px 0 0 #000;
}
.main-menu a{
    padding: 30px 0;
}
.main-menu a:hover{
    text-decoration: underline;
}
.sub-container{
    background: #fff;
    padding: 60px 120px 35px 120px;
    position: absolute;
    width: 100%;
    top: 83px;
    left: 0;
    display: none;
}
.main-menu > li:hover .sub-container, .main-menu > li:focus .sub-container{
    display: block;
 }
.sub-menu{
    font-size: 1.7rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    height: 100%;
}
.sub-menu li{
    text-align: center;
    margin-bottom: 25px;
}
.sub-menu-item{
    list-style-type: none;
    font-size: 1.3rem;
    padding-left: 0;
    margin-top: 25px;
}
/* 메인 콘텐츠 영역 */
/* 섹션 1 */
.section1{
    background-image: url('/images/bg_main_3.jpg');
    background-size: cover;
    background-position-y: 50%;
    background-repeat: no-repeat;
    height: 680px;
    position: relative;
}
.section1-heading{
    margin: 0;
    font-size: 5.3rem;
    font-weight: 100;
    text-align: center;
    color: #fff;
    position: relative;
    top: 228px;
}
.move-download-app{
    padding-left: 0;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    width: 455px;
    margin: 0 auto;
    list-style-type: none;
    margin-top: 280px;
}
.move-download-app a{
    background: transparent;
    display: inline-block;
    width: 220px;
    height: 65px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    color: #fff;
    line-height: 2.9;
}
.move-playstore, .move-appstore{
    text-align: center;
}
.move-playstore span, .move-appstore span{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 40px;
    vertical-align: middle;
    background-image: url('/images/img_kabang.png');
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.move-playstore span{
    background-position: 86% 81%;
}
.move-appstore span{
    background-position: 95% 82%;
}
.btn-loandoc-submit{
    width: 340px;
    height: 65px;
    margin: 0;
    padding: 0 20px;
    border: 0;
    border-radius: 5px;
    background: rgb(254, 218, 10);
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 2.0rem;
    box-shadow: #333 2px 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-loandoc-submit span{
    font-size: 1.4rem;
}
.btn-bar{
    display: inline-block;
    width: 1px;
    height: 15px;
    background: rgb(192,165,5);
}
.doc-submit{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 25px;
    width: 16px;
    height: 25px;
    background-image: url('/images/img_kabang.png');
    background-position: 81% 17%;
}
/* 섹션 2 */
.section2{
    height: 750px;
    background-color: rgb(251,251,251);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, minmax(50px, auto));
}
.section2-explain{
    grid-row: 8/ span 4;
    grid-column: 10/ span 4;
}
.section2-heading{
    margin: 0;
    margin-bottom: 20px;
}
.section2-brief{
    line-height: 1.5;
    margin-bottom: 30px;
}
.btn_account{
    display: inline-block;
    width: 258px;
    text-align: center;
}
.section2 img{
    width: 456px;
    height: 551px;
    grid-row: 4/ span 8;
    grid-column: 4/ span 3;
}

/* 섹션 3,4 */
.section3{
    height: 840px;
    display: flex;
    justify-content: space-between;
    padding: 0 160px 120px 270px;
    /* margin: 0 auto; */
    /* width: 990px; */
    background: #fafafa;
    /* background: orange; */
    
   
}.section3::after{
    content: "";
    display: block;
    clear: both;
}

.deposit{
    padding-top: 210px;
    /* float: left; */
    display: block;
    /* border: 1px solid #aaa; */
    /* border: 1px solid #aaaa; */
    

}
.deposit-heading{  
    /* background: #008000; */
    padding: 0;
    margin: 0;
}

.deposit a{
    display: inline-block;
    width: 158px;
    /* background: orange; */
}
.term{
    width: 522px;
    height: 124px;
    /* background: yellow; */
    display: block;
    margin-top: 60px;

}.phones{
    padding-top: 120px;
}
.phone2{

    width: 460px;
    height: 680px;
    /* background: purple; */

}.section4{
    /* background: skyblue; */
    height: 800px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows:repeat(16,minmax(50px,auto)); 
    

}   .saving-account{
    grid-column: 10/span 13;
    grid-row: 6;

    
    
}.saving-account-heading{
    
    
}.btn-common{
    width: 260px;
    display: block;

}
.saving{
    box-sizing: content-box;
    width: 352px;
    height: 528px; 
    grid-column: 4/7;
    grid-row: 4/8;
    margin-left: 60px;
    margin-bottom: 20px;
    
   
    
   

}
/* }.section4{

    padding: 130px 0 150px 0;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 850px; */
    /* background: yellow; */
    

/* }.saving-account-heading{
    margin: 0;
}

.btn-common{
    width: 260px;
    display: block;
    
}
.saving{
    box-sizing: content-box;
    width: 352px;
    height: 528px; */


/* 함께 도전해서 재미있는 26주 */
.section5{
    background: #5c6775;
    width: 100vw;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,minmax(50px,auto));
}
/* div 메인 컨텐츠 5 */
.main-contents5{
    grid-column: 4/7;
    grid-row: 4/5;
}
.main-contents5 h3,
.main-contents5 p{
    color: #fff;
}

/* section5 제목 크기 */
.main-contents5 h3{
    width: 350px;
}
/* section5 문장 폰트 크기 */
.main-contents5 p{
    margin: 21px 0;
    width: 350px;
}

/* section5 a 링크 */
.main-contents5 a{
    display: block;
    color: #fff;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-radius: 2px;
    text-align: center;
    width: 256px;
    height: 50px;
    line-height: 3;
}

/* section5 이미지 */
.twenty-six-weeks{
    width: 460px;
    height: 381px;
    grid-column: 10/14;
    grid-row: 3/4;
}

/* 해외 계좌 송금 */
/* section 6 전체 영역 */
.section6{
    background: #fff;
    width: 100vw;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}
/* section6 메인 컨텐츠 위치 배치*/
.main-contents6{
    grid-column: 11/15;
    grid-row: 5/8;
    /* background-image 크기 */
    width: 642px;
    height: 342px;
    background-image: url('../images/home_map.png');
}


/* section6 메인 컨텐츠 폰트 색 */
.main-contents6 h3,
.main-contents6 p,
.main-contents6 a{
    color: #000;
}

/* section6 문장 폰트 크기 */
.section6 p{
    margin: 21px 0;
}

/* section6 a 링크 */
.main-contents6 a{
    display: block;
    font-size: 1.5rem;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    text-align: center;
    width: 256px;
    height: 50px;
    line-height: 3;
}

/* 이미지 */
.home-phone{
    width: 470px;
    height: 610px;
    grid-column: 4/8;
    grid-row: 4/17;
}

/* section7 */
.section7{
    width: 100vw;
    height: 930px;
    background-color: #333b58;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}

/* section7 메인 컨텐츠 */
.main-contents7{
    grid-column: 5/14;
    grid-row: 4/ span2;
    margin-left: 50px;
}

/* 폰트 크기와 색상 */
.main-contents7 h3,
.main-contents7 p,
.main-contents7 a {
    color: #fff;
}

.main-contents7 p{
    text-indent: 120px;
}

.main-contents7 a{
    display: inline-block;
    border: 1px solid #fff;
    width: 164px;
    height: 50px;
    border-radius: 2px;
    margin: 5px 3px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3;
}
.main-contents7 a:first-of-type{
    margin-left: 32px;
}

/* section7 이미지 크기 */
.loan{
    width: 500px;
    height: 523px;
    grid-column: 6/span 3;
    grid-row: 8/17;
    margin-left: 80px;
    margin-bottom: 0;
}
/* 달 그림 */
.circle {
    background-color: transparent;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset -25px 5px 0 3px #fff;
    transform: rotate(50deg);
    grid-column: 14/span 2;
    grid-row: 5/span 2;
}

/* 섹션8 - 캐러셀 */
.section8{
    background: #fff;
    height: 1060px;
    padding-top: 170px;
}
.section8-explain{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}
/* 하단 두 속성은 통일하여 사용할 수 있으나, 협업 시 알아보기 쉽도록 따로 씀 */
.section8-heading{
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}
.section8-brief{
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
}
/* 버튼 속성은 통일하여 사용할 수 있으나, 협업 시 알아보기 쉽도록 따로 씀 */
.btn_checkcard{ 
    display: inline-block;
    font-size: 1.7rem;
    width: 258px;
    height: 52px;
    border: 1px solid #aaa;
    border-radius: 3px;
    text-align: center;
    line-height: 3;
}
.btn_checkcard span{
    display: inline-block;
    width: 7px;
    height: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 10px;
    background-image: url('/images/home_arr.png');
    background-size: 7px 10px;
    margin-left: 5px;
}
/* 캐러셀 */
.home-checkcard{
    width: 280px;
    height: 443px;
    margin: 0 auto;
}

/* 섹션9 */
.section9{
    background-color: rgb(247, 247, 247);
    height: 1045px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, minmax(50px, auto));
}
.section9-heading{
    margin: 0;
    text-align: center;
    grid-column: 4/ span 8;
    grid-row: 4/ span 2;
}
.marketing{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    grid-column: 3/ span 10;
    grid-row: 12/ span 3;
}
.marketing em{
    font-style: normal;
    font-size: 2.0rem;
}
[class^="marketing-copy"]{
    text-align: center;
}
[class^="marketing-copy"] p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: #666;
}
.marketing-copy2{
    width: 350px;
}
.marketing-copy3{
    margin-left: auto;
    margin-right: 20px;
}
.section9 img{
    width: 1020px;
    height: 270px;
    grid-column: 3/ span 10;
    grid-row: 8/ span 3;
}
.section9-middle-bar{
    display: inline-block;
    width: 100px;
    height: 2px;
    background: #000;
    margin: 0 auto;
    grid-column: 7/ span 2;
    grid-row: 6/ span 1;
}

/* 푸터 */
.footer-bg{
    background: #EEEEEE;
}
.footer{
    padding: 37px 0 12px 0;
    height: 160px;
    width: 1100px;
    background: #EEEEEE;
    margin: 0 auto;

}.service-use{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;

}.service-use li:nth-child(n+2)::before{
    content:"ㅣ";
    color: #aaa;
    padding-right:20px;
}
.service-use li{
    display: inline-block;

}.service-use a{
    padding: 8px 0;

}.address,.copyright{
    display: inline-block;
}.address,.copyright{
    font-size: 12px;
}
.address{
    font-style: normal;
    /* background:yellow; */

}.copyright{
    /* background: skyblue; */
    margin-left: 5px;

}.footer-bottom{
    margin-top: 20px;
    /* padding-bottom: 20px; */
    /* background: pink; */
   


}.footer-bottom::after{
    content:'';
    display: block;
    clear: both;

}
.web-accessiblilty-insurance{
    display: flex;
    /* background: purple; */
    float: left;
    margin: 0;
   
}.web-accessiblilty-insurance img{
    width: 48px;
    height: 32px;
}

.web-accessiblilty-insurance figcaption{
    font-size: 14px;
    line-height: 35px;
    padding-left: 5px;
   
}
.share-information{

    list-style: none;
    margin: 0;
    /* margin-left: 20px; */
    float: right;
    display: flex;
    width: 134px;
    
}
.facebook-icon,.blog-icon,.naverpost-icon,.youtube-icon{

    background-image: url("/images/img_kabang.png");
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 25px;
    padding: 0 10px;


}
.facebook-icon{

    width: 10px;
    height: 20px;
    background-position: 29% 97%;
}
.blog-icon{
    width: 14px;
    height: 20px;
    background-position: 34% 97%;
}
.naverpost-icon{
    width: 14px;
    height: 20px;
    background-position: 97% 97%;
}
.youtube-icon{
    width: 25px;
    height: 20px;
    background-position: 40% 96%;
}