@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}
html{
    font-size: 10px;
}
body{
    margin: 0;
    min-width: 1200px;
    font-weight: 200;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #000;
    font: inherit;
}
.section2 h3, .section3 h3, .section4 h3, .section5 h3, .section6 h3, .section7 h3, .section8 h3, .section9 h3{
    font-weight: 300;
    margin: 0;
    font-size: 3.9rem;
}
p{
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;
    padding-top: 21px;
    padding-bottom: 30px;
}
.a11y-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
 }
 /* 버튼 arr */
 .btn-arr{
    display: inline-block;
    width: 7px;
    height: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 10px;
    background-image: url('/images/home_arr.png');
    background-size: 7px 10px;
    margin-left: 5px;
}
/* 버튼 공통 속성 */
.btn-common{
    font-size: 1.5rem;
    line-height: 51px;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 2px;
    text-align: center;
}

/* 가로 1100px 고정 및 그리드 */
.wrapper{
    width: 1100px;
    margin: 0 auto;
    /* position: relative; */
}
.wrapper-grid{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,minmax(50px,auto));
}

/* 헤더 영역 */
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    /* position: relative; */
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(170, 170, 170, 0.1);
    z-index: 10;
}
.kakao-logo{
    width: 116px;
    height: 20px;
    margin-top: 20px;
    /* position: relative; */
}
.main-menu{
    font-size: 1.5rem;
    font-weight: 400;
    list-style-type: none;
    padding: 0px 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 420px;
}
.main-menu-list{
    padding: 30px 20px;
}
.main-menu-list > a{
    color: #fff;
}
.main-menu .main-menu-list:hover, .main-menu .main-menu-list:active{
    box-shadow: inset 0 -2px 0 0 #000;
}
.main-menu a{
    margin: 30px 0;
}
.main-menu a:hover{
    text-decoration: underline;
}
.sub-container{
    background: #fff;
    padding: 60px 240px 35px 240px !important;
    position: absolute;
    width: 100%;
    top: 83px;
    left: 0;
    display: none;
}
/* 보이기 메뉴 */
.show > div{
    background: #fff;
    padding: 60px 120px 35px 120px;
    position: absolute;
    width: 100%;
    top: 83px;
    left: 0;
    display: block;
}

.tab-container + div{
    background: #fff;
    padding: 60px 120px 35px 120px;
    position: absolute;
    width: 100%;
    top: 83px;
    left: 0;
    display: block;
}

.sub-menu{
    font-size: 1.7rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    height: 100%;
}
.sub-menu li{
    text-align: center;
    margin-bottom: 25px;
}
.sub-menu-item{
    list-style-type: none;
    font-size: 1.3rem;
    padding-left: 0;
    margin-top: 25px;
}

/* 메인 콘텐츠 영역 */
/* 섹션 1 */
.section1{
    height: 680px;
    width: 100vw;
    background-image: url('/images/bg_main_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    position: relative;
    border-top: 1px solid transparent;
}

.section1-heading{
    margin: 0 auto;
    width: 100%;
    font-size: 5.3rem;
    font-weight: 100;
    text-align: center;
    color: #fff;
    margin-top: 228px;
}
.move-download-app{
    padding-left: 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    width: 455px;
    margin: 0 auto;
    list-style-type: none;
    margin-top: 65px;
}
.move-download-app a{
    background: transparent;
    display: inline-block;
    width: 220px;
    height: 65px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    color: #fff;
    line-height: 2.9;
    font-weight: 100;
}
.move-download-app a:hover{
    text-decoration: underline;
}
.move-playstore, .move-appstore{
    text-align: center;
}
.move-playstore span, .move-appstore span{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 40px;
    vertical-align: middle;
    background-image: url('/images/img_kabang.png');
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.move-playstore span{
    background-position: 86% 81%;
}
.move-appstore span{
    background-position: 95% 82%;
}
.btn-loandoc-submit{
    width: 340px;
    height: 65px;
    margin: 0;
    padding: 0 20px;
    border: 0;
    border-radius: 5px;
    background: rgb(254, 218, 10);
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 1.7rem;
    font-weight: 500;
    box-shadow: #333 2px 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-loandoc-submit span{
    font-size: 1.4rem;
    font-weight: 400;
}
.btn-bar{
    display: inline-block;
    width: 1.5px;
    height: 15px;
    background: rgb(192,165,5);
}
.doc-submit{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 25px;
    width: 16px;
    height: 25px;
    background-image: url('/images/img_kabang.png');
    background-position: 81% 17%;
}

/* 섹션 2 */
.section2{
    width: 1100px;
    margin: 0 auto;
    height: 750px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, minmax(50px, auto));
}
.section2-explain{
    grid-row: 6/ span 4;
    grid-column: 10/ span 4;
    width: 360px;
    margin-left: 40px;
}
.section2-heading{
    margin: 0;
    margin-bottom: 20px;
}
.section2-brief{
    line-height: 1.5;
}
.btn_account{
    display: inline-block;
    width: 258px;
    text-align: center;
}
.section2 img{
    width: 456px;
    height: 551px;
    grid-row: 3/ span 8;
    grid-column: 2/ span 3;
    margin-left: 20px;
}

/* 섹션 3 */
.section3{
    width: 100vw;
    height: 840px;
    display: flex;
    justify-content: space-between;
    /* margin: 0 auto; */
    /* width: 990px; */
    background: #fafafa;
    white-space: nowrap;
    /* background: orange; */
}
.deposit{
    padding-top: 210px;
    margin-left: 100px;
    display: inline-block;
    /* float: left; */
    /* border: 1px solid #aaa; */
    /* border: 1px solid #aaaa; */
}
.deposit-heading{  
    /* background: #008000; */
    padding: 0;
    margin: 0;
}

.deposit a{
    display: inline-block;
    width: 158px;
    /* background: orange; */
}
.term{
    width: 522px;
    height: 124px;
    /* background: yellow; */
    display: block;
    margin-top: 60px;
}
.phone{
    display: inline-block;
    width: 460px;
    height: 680px;
    transform: translateX(5rem);
    opacity: 0;
    /* position: absolute;
    left: 650px;
    top: 125px; */
    /* background: purple; */
}

@keyframes slide-right {
	to {
        opacity: 1;
		transform: none;
    }
}

.phone-active{
	animation: slide-right 0.4s 0.85s ease-in-out forwards;
}

/* 섹션4 */
.section4{
    width: 1100px;
    margin: 0 auto;
    /* background: skyblue; */
    height: 800px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows:repeat(16,minmax(50px,auto)); 
}
.saving-account{
    grid-column: 10/span 6;
    grid-row: 6;
    margin-left: 40px;
}
.btn-common{
    width: 260px;
    display: block;
}
.saving{
    box-sizing: content-box;
    width: 352px;
    height: 528px; 
    grid-column: 3/span 3;
    margin-left: 40px;
    grid-row: 3/span 3;
    margin-top: 30px;

}

/* 함께 도전해서 재미있는 26주 섹션5 */
.section5{
    width: 100vw;
    height: 750px;
    background: rgb(94, 103, 116);
}
/* div 메인 컨텐츠 5 */
.main-contents5{
    grid-column: 3/span 5;
    grid-row: 4/span 2;
    margin-top: 80px;
}
.main-contents5 h3,
.main-contents5 p{
    color: #fff;
}

/* section5 a 링크 */
.main-contents5 a{
    display: block;
    color: #fff;
    width: 256px;
}

 .btn-arr-white{
    display: inline-block;
    width: 7px;
    height: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 10px;
    background-image: url('/images/home_arr2.png');
    background-size: 7px 10px;
    margin-left: 5px;
}

/* section5 이미지 */
.twenty-six-weeks{
    width: 460px;
    height: 381px;
    grid-column: 10/14;
    grid-row: 4/span 2;
}

/* 해외 계좌 송금 섹션6 */
/* section 6 전체 영역 */
.section6{
    width: 100vw;
    background: #fafafa;
    height: 750px;
}
/* section6 메인 컨텐츠 위치 배치*/
.main-contents6{
    grid-column: 11/span 4;
    grid-row: 6/span 3;
    /* background-image 크기 */
    width: 642px;
    height: 342px;
    background-image: url('../images/home_map.png');
    margin-left: 30px;
}

/* section6 메인 컨텐츠 폰트 색 */
.main-contents6 h3,
.main-contents6 p,
.main-contents6 a{
    color: #000;
}
.main-contents6 h3{
    width: 350px;
    margin: 0;
}
.main-contents6 p{
    width: 350px;
}

/* section6 a 링크 */
.main-contents6 a{
    display: block;
    width: 256px;
}

/* 이미지 */
.home-phone{
    width: 455px;
    height: 643px;
    grid-column: 2/span 4;
    grid-row: 3/span 10;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0;
    /* transform: translateY(5rem); */
}
@keyframes slide-bottom {
    from{
        opacity: 0;
        transform: translateY(5rem);
    }
	to {
		transform: none;
        opacity: 1;
    }
}

.home-phone-active{
	animation: slide-bottom 0.4s 0.85s ease-in-out forwards;
}

/* section7 */
.section7{
    width: 100vw;
    height: 930px;
    background-color: rgb(69, 136, 214);
    position: relative;
}

/* section7 메인 컨텐츠 */
.main-contents7{
    width: 100%;
    grid-column: 3/span 12;
    grid-row: 4/ span 2;
    text-align: center;
}

/* 폰트 크기와 색상 */
.main-contents7 h3,
.main-contents7 p,
.main-contents7 a {
    color: #fff;
    text-align: center;
}

.main-contents7 p{
    margin-bottom: 0;
}

.button-list{
    padding-left: 0;
}

.main-contents7 li{
    margin: 0;
    padding: 0;
    width: 165px;
    height: 52px;
    border: 1px solid #aaa;
    list-style-type: none;
    display: inline-block;
}
.list-style{
    display: block;
    font-size: 1.5rem;
    line-height: 51px;
    height: 50px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

/* section7 이미지 크기 */
.loan{
    width: 500px;
    height: 523px;
    grid-column: 5/span 5;
    grid-row: 7/span 8;
    margin: 25px 0 0 30px;
}
/* 달 그림 */
/* .circle {
    background-color: transparent;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset -25px 5px 0 3px #fff;
    transform: rotate(50deg);
    grid-column: 15/span 2;
    grid-row: 4/span 2;
} */

/* 별 애니메이션 */
@keyframes bgiAni{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.section7::before, .section7::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: bgiAni 1800ms infinite alternate ease-in-out;
}

.section7::before{
    animation-delay: 900ms;
    background: url('/images/star1.png') no-repeat 150px 510px,
    url('/images/star1.png') no-repeat 200px 110px,
    url('/images/star1.png') no-repeat 350px 420px,
    url('/images/star1.png') no-repeat 420px 710px,
    url('/images/star1.png') no-repeat 1400px 510px,
    url('/images/star1.png') no-repeat 1700px 710px,
    url('/images/star1.png') no-repeat 1800px 200px,
    url('/images/star1.png') no-repeat 1100px 100px;
}
.section7::after{
    background: url('/images/star2.png') no-repeat 1400px 610px,
    url('/images/star2.png') no-repeat 1200px 710px,
    url('/images/star2.png') no-repeat 100px 110px,
    url('/images/star2.png') no-repeat 1500px 210px,
    url('/images/star2.png') no-repeat 800px 120px,
    url('/images/star2.png') no-repeat 200px 800px;
}

/* 해그림 */
.circle2 {
    background-color: transparent;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(254, 215, 8);
    grid-column: 15/span 2;
    grid-row: 4/span 2;
}

/* 해와 달*/
@keyframes trans-sun {
    from{
        background-color: transparent;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: rgb(254, 215, 8);
        grid-column: 15/span 2;
        grid-row: 4/span 2;
    }
	to {
        background-color: transparent;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: inset -25px 5px 0 3px #fff;
        transform: rotate(50deg);
        grid-column: 15/span 2;
        grid-row: 4/span 2;
    }
}

.section7-active1{
	animation: trans-sun 0.6s 0.85s ease-in-out forwards;
}
/* 배경색 바꾸기 */
@keyframes trans-bg {
    from{
        background-color: rgb(69, 136, 214);
    }
	to {
        background-color: #333b58;
    }
}

.section7-active2{
	animation: trans-bg 0.7s 1.2s forwards;
}


/* 섹션8 - 캐러셀 */
.section8{
    width: 1100px;
    margin: 0 auto;
    background: #fff;
    height: 1060px;
    padding-top: 170px;
}
.section8-explain{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}
/* 하단 두 속성은 통일하여 사용할 수 있으나, 협업 시 알아보기 쉽도록 따로 씀 */
.section8-heading{
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}
.section8-brief{
    line-height: 1.5;
    text-align: center;
}
/* 버튼 속성은 통일하여 사용할 수 있으나, 협업 시 알아보기 쉽도록 따로 씀 */
.btn_checkcard{ 
    display: inline-block;
    font-size: 1.7rem;
    width: 258px;
    height: 52px;
    border: 1px solid #aaa;
    border-radius: 3px;
    text-align: center;
    line-height: 3;
}
.btn_checkcard span{
    display: inline-block;
    width: 7px;
    height: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 10px;
    background-image: url('/images/home_arr.png');
    background-size: 7px 10px;
    margin-left: 5px;
}
/* 캐러셀 */
.home-checkcard{
    width: 280px;
    height: 443px;
    margin: 0 auto;
}

/* 섹션9 */
.section9{
    background-color: rgb(247, 247, 247);
    height: 1045px;
}
.section9-heading{
    margin: 0;
    text-align: center;
    grid-column: 5/ span 8;
    grid-row: 4/ span 2;
}
.marketing{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    grid-column: 2/ span 11;
    grid-row: 13/ span 3;
    width: 1020px;
    margin-left: 30px;
}
.marketing em{
    font-style: normal;
    font-size: 2.0rem;
    font-weight: 400;
}
[class^="marketing-copy"]{
    text-align: center;
}
[class^="marketing-copy"] p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: #666;
}
.marketing-copy2{
    width: 350px;
}
.marketing-copy3{
    margin-left: auto;
    margin-right: 60px;
}
.section9 img{
    width: 1020px;
    height: 270px;
    grid-column: 2/ span 11;
    grid-row: 10/ span 3;
    margin-bottom: 30px;
}
.section9-middle-bar{
    display: inline-block;
    width: 100px;
    height: 2px;
    background: #000;
    margin: 0 auto;
    grid-column: 8/ span 2;
    grid-row: 6/ span 1;
    margin-top: 40px;
}

/* 푸터 */
.footer-bg{
    background: #EEEEEE;
}
.footer{
    padding: 37px 0 12px 0;
    height: 160px;
    width: 1100px;
    background: #EEEEEE;
    margin: 0 auto;

}.service-use{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;

}
.service-use li:nth-child(n+2)::before{
    content:"ㅣ";
    color: #aaa;
    padding-right:20px;
}
.service-use li{
    display: inline-block;

}
.service-use a{
    padding: 8px 0;

}
.address,.copyright{
    display: inline-block;
}
.address,.copyright{
    font-size: 12px;
}
.address{
    font-style: normal;
    /* background:yellow; */

}
.copyright{
    /* background: skyblue; */
    margin-left: 5px;

}
.footer-bottom{
    margin-top: 20px;
    /* padding-bottom: 20px; */
    /* background: pink; */
   


}
.footer-bottom::after{
    content:'';
    display: block;
    clear: both;

}
.web-accessiblilty-insurance{
    display: flex;
    /* background: purple; */
    float: left;
    margin: 0;
   
}
.web-accessiblilty-insurance img{
    width: 48px;
    height: 32px;
}

.web-accessiblilty-insurance figcaption{
    font-size: 14px;
    line-height: 35px;
    padding-left: 5px;
   
}
.share-information{

    list-style: none;
    margin: 0;
    /* margin-left: 20px; */
    float: right;
    display: flex;
    width: 134px;
    padding-left: 0;
    
}
.facebook-icon,.blog-icon,.naverpost-icon,.youtube-icon{

    background-image: url("/images/img_kabang.png");
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 25px;
    padding: 0 10px;
    margin-right: 15px;


}
.facebook-icon{
    width: 10px;
    height: 20px;
    background-position: 29% 97%;
}
.blog-icon{
    width: 14px;
    height: 20px;
    background-position: 34% 97%;
}
.naverpost-icon{
    width: 14px;
    height: 20px;
    background-position: 97% 97%;
}
.youtube-icon{
    width: 25px;
    height: 20px;
    background-position: 40% 96%;
}