@charset "utf-8";

*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: #000;
}body{
    margin: 0;
}

.header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    /* position: relative; */
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #aaa;
}
.kakao-logo {
   position: relative;
   margin: 0;
   width: 116px;
   height: 20px;
   line-height: 20px;
   white-space: nowrap;
   overflow: hidden;
   margin: auto 0;

   text-align: center;
   font-size: 0;
   
   
}.kakao-logo ::after{
   
   background: url("/images/logo_black.svg") no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   

}
.a11y-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
 }
.main-menu{
    font-size: 1.5rem;
    /* background: skyblue; */
    list-style-type: none;
    padding: 0px 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 420px;
}
.main-menu-list{
    /* background: orange; */
    padding: 30px 20px;

}
.main-menu > li:hover .sub-container, .main-menu > li:focus .sub-container{
   display: block;
    box-shadow: 0 2px 0 0 #000;
}
.main-menu a{
    padding: 30px 0;
    
}
.main-menu a:hover{
    text-decoration: underline;
}
.sub-container{
    /* display: none; */
    /* background: pink; */
    background: #fff;
    padding: 60px 120px 35px 120px;
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    display: none;
}
.main-menu > li:hover .sub-container{
    display: block;
 }
/* .tab-act, .sub-container1{
    display: block;
} */
.sub-menu{
    /* background: teal; */
    font-size: 1.7rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    height: 100%;
}
.sub-menu li{
    /* background: lime; */
    /* margin-bottom: 25px; */
    text-align: center;
    margin-bottom: 25px;
}
.sub-menu-item{
    list-style-type: none;
    font-size: 1.3rem;
    padding-left: 0;
    margin-top: 25px;

}.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 920px;
    /* background: yellow; */
    

}.mobile-account-heading{
    margin: 0;
    font-size: 3rem;
    font-weight: 400;

}
.mobile-account p{
    font-size: 15px;
    font-weight: 300;
   
}.mobile-account a{
    line-height: 52px;
    border: 1px solid #000000;
    width: 260px;
    height: 52px;
    display: block;
    text-align: center;
    font-size: 15px;
    

}
.phone1{
    box-sizing: content-box;
    width: 465px;
    height: 550px;
    

}
.section3{
    display: flex;
    justify-content: space-between;
    padding: 0 80px 0 190px;
    /* margin: 0 auto; */
    /* width: 990px; */
    background: #fafafa;
    
   
}.section3::after{
    content: "";
    display: block;
    clear: both;
}

.deposit{
    
    float: left;
    display: block;
    /* border: 1px solid #aaa; */
    margin-top: 200px;
    

}
.deposit-heading{  
    /* background: #008000; */
    font-size: 3rem;
    font-weight: 400;
    padding: 0;
    margin: 0;

}.deposit p{
    font-size: 15px;
    font-weight: 300;
}

.deposit a{
    line-height: 52px;
    border: 1px solid #000000;
    display: inline-block;
    width: 158px;
    height: 52px;
    /* background: orange; */
    font-size: 15px;
    text-align: center;
    

}
.term{
    width: 522px;
    height: 124px;
    /* background: yellow; */
    display: block;
    margin-top: 20px;

}.phones{
    float: right;
   
    /* background: white; */
}
.phone2{
    width: 460px;
    height: 680px;
    /* background: purple; */

    
}.section4{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 850px;
    /* background: yellow; */
    

}.saving-account-heading{
    margin: 0;
    font-size: 3rem;
    font-weight: 400;

}
.saving-account p{
    font-size: 15px;
    font-weight: 300;
   
}.saving-account a{
    line-height: 52px;
    border: 1px solid #000000;
    width: 260px;
    height: 52px;
    display: block;
    text-align: center;
    font-size: 15px;
    

}
.saving{
    box-sizing: content-box;
    width: 352px;
    height: 528px;
    

}